{
	"currencies": {
		"ltcusdt": {
			"high": "300",
			"highop": ">=",
			"low": "250",
			"lowop": "<=",
			"notify": true,
			"price_format": ".4F"
		},
		"xrpusdt": {
			"high": "3",
			"highop": ">=",
			"low": "2.5",
			"lowop": "<=",
			"notify": true,
			"price_format": ".4F"
		}
	},
	"email": "youremail.here"
}
