{
	"currencies": {
		"ltcusdt": {
			"opth": {"<=": 260, ">=": 280},
			"price_format": ".2F",
			"notify": true
		},
		"xrpusdt": {
			"opth": {"<=": 2.5, ">=": 2.7},
			"price_format": ".4F",
			"notify": true
		}
	},
	"email": "biaocy@foxmail.com"
}
